body {
  background-color: rgb(255, 77, 77);
}
h1 {
  background-color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 60px;
  padding: 10px;
  border: medium black solid;
  text-align: center;
}
